name: tests

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Set up Python 3
      uses: actions/setup-python@v6
      with:
        python-version: '3.x'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r test_requirements.txt
    - name: Lint with flake8
      run: flake8
    - name: Run tests
      run: coverage run --source acme -m unittest discover
    - name: Coveralls
      uses: coverallsapp/github-action@v2
